*{
    padding: 0;
    margin:0;
    background-image: url(ak.png);
    background-size: cover;
    background-repeat: no-repeat;
    /* width: 100%; */
}
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
.container{
    width:100%;
    height:100vh;
    /* background-color: #8ca6e2; */
    /* background-image: none; */
    /* background-image:url(ak.png); */
    /* background-size: auto; */

    /* background-repeat: no-repeat;
    background-size:cover; */
    /* background-image: linear-gradient(to left bottom, #bfe9e7, #8cc4cf, #5f9fba, #3e79a3, #315388, #2d467c, #2a386f, #272b62, #1e3367, #143a6b, #0b416d, #06486f); */
}
header,nav,ul,li{
    display: block;
}
.navbar{
    height: 15vh;
    width:100%;
    /* background-color:#0b416d; */
    font-family: 'Poppins', sans-serif;
    /* background-image: url(logo.png); */
    /* max-width: 20%; */
}
.flex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 30px;
    margin-right: 5%;
}
.nav-item>a{
    text-transform: uppercase;
    text-decoration: none;
    color: #1e3367;
}
.nav-item>a:hover{
    color:red;
}
.logo img{
    position: absolute;
    /* border: 1px solid black; */
    box-sizing: border-box ;
    /* background-color: #06486f; */
    width:15%; 
    /* opacity: 0.5; */
}
.flex1{
    display:flex;
    flex-direction: column-reverse;
    flex-wrap:wrap-reverse;
}
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

.container1{
    height:100vh;
    width:100vw;
    border:1px solid black;
}
.maincontainer{
    /* display: block; */
    background-image: none;
    height: 50vh;
    width:30%;
    /* position:absolute; */
    /* background-color: aqua; */
    border:1px solid rgb(0, 0, 0);
    margin-left: 35%;
    margin-top: 4%;
    border-radius: 10%;
    padding:10px 10px;
    /* background-color: #1e3367; */
   box-shadow: 5px 5px rgb(170, 169, 169);
}
.footercontainer{
    background-image: none;
    height:30vh;
    /* width:98%; */
    border: 1px solid black;
    margin-top: 40%;
    background-repeat: no-repeat;
    overflow:hidden;
}
.footerbox{
    height: 30vh;
    width:15%;
    border: 1px solid green;
    background-image: none;

}
.fa fa-github{
    font-size: 25px;
}
.h3{
    border-style: none;
    text-decoration: none;
    background: none;
}
.button{
    border:none;
    /* width: fit-content; */
    /* border: black */
    /* width:5px; */
    text-align: center;
    justify-content: center ;
    /* background-image: none; */
    border-style: none;
    text-decoration: none;
    background: none;
}
.flexfooter{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align:center;
    justify-content: center;
    gap:5px;
    right:5px;
}
