*{
    padding: 0;
    margin:0;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
.container{
    width:100vw;
    height:100vh;
    background-image: linear-gradient(to left bottom, #bfe9e7, #8cc4cf, #5f9fba, #3e79a3, #315388, #2d467c, #2a386f, #272b62, #1e3367, #143a6b, #0b416d, #06486f);
}
header,nav,ul,li{
    display: block;
}
.navbar{
    height: 15vh;
    width:100%;
    /* background-color:#0b416d; */
    font-family: 'Poppins', sans-serif;
    /* background-image: url(logo.png); */
    /* max-width: 20%; */
}
.flex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 30px;
    margin-right: 5%;
}
.nav-item>a{
    text-transform: uppercase;
    text-decoration: none;
    color: #1e3367;
}
.nav-item>a:hover{
    color:red;
}
.logo img{
    position: absolute;
    /* border: 1px solid black; */
    box-sizing: border-box ;
    /* background-color: #06486f; */
    width:15%; 
    /* opacity: 0.5; */
}
.footer{
    height:30vh;
    /* width:100%; */
    background-image: linear-gradient(to right bottom, #845ec2, #5a5baf, #365498, #1b4b7d, #104061, #15425d, #1d4459, #254655, #305868, #3a6b7a, #467e8d, #52929f);;
    /* background-color: #3D1766; */
    /* display: flex; */
    overflow: hidden;
    /* opacity: 0.9; */
    
}    

/* .flex1{
    display:flex;
    flex-direction: column-reverse;
    flex-wrap:wrap-reverse;
} */

.maincontainer{
    height: 78Vh;
    /* width: 10%; */
    /* background-color: #143a6b; */

}
.footcontainer{
    height: 100%;
    display:flex;
    /* background-color: red; */
}
.flex2{
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    /* margin-right: 30%; */
}

.h1{
    font-size: 5em;

}
.box3{
height:100%;
width:15%;
/* background-color: red; */
display: flex;
}

#name{
    height:15%;
    width: 40%;
    background-color: #06486f;
    opacity: 0.5;
}
#mail{
    /* font-size:medium; */
    /* w idth:30%; */
    height:15%;
    width:40%;
    background-color: #06486f;
    /* right:20%; */
    opacity: 0.5;

}
.flex4{
    display: flex;
    flex-direction: column;
    justify-content:center;
}
#contact{
    font-size: large;
}
.box4{
    height:100%;
    width:100%;
    /* background-color: magenta; */
    display: flex;
    gap:4%;
}
.flex5{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-content: flex-start;
    align-items:flex-end;
}
#message{
    height: 40%;
    width:40%;
    background-color: #06486f;
    opacity: 0.5;
}
.button{
    width:10%;
    justify-content: flex-end;
    background-color:#06486f;
    opacity: 0.5;
}